/**
 * @file
 * Subtheme specific CSS.
 */

body{
    background: url(../assets/sax_pic.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
}

p {
    color: #FFF;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: 400;
}

.dropdown-menu {
    background-color: #262F3E;
}

#block-key-changes-content {
    background-color: #262F3E;
    border-radius: 10px;
    padding: 20px 15px 0px;
    opacity: 0.9;
    filter: alpha(opacity=90);
}

.content-page-slogan {
    color: #FFF;
    font-family: 'Raleway', sans-serif;
    font-size: 77px;
    font-weight: 800;
    margin-bottom: 10px;
    margin-top: 20px;
    text-align: center;
}

.title {
    color: #D84B68;
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    font-weight: 800;
}

.navbar-dark .navbar-nav .nav-item .nav-link {
    color:white;
    font-family: 'Raleway', sans-serif;
    font-size: .9em;
    font-weight: 400;
}

.navbar-dark .navbar-nav .nav-item a.nav-link:hover {
    color: #D84B68;
}

.front-page {
    color:white;
}

.front-page .headliner {
    margin-top: 150px;
}

.front-page h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 4.8em;
    font-weight: 800;
}

.front-page h2 {
    color: #D84B68;
    font-family: 'Raleway', sans-serif;
    font-size: 2.25em;
    font-weight: 800;
    margin-left: 90px;
}

.front-page .col-md-12 {
    text-align:center;
}
