/**
 * @file
 * Subtheme specific CSS.
 */

body{
    background: url(../assets/sax_pic.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-attachment: fixed;
}

p {
    color: #FFF;
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    font-weight: 400;
}

/* WYSIWYG embedded images. */
img.align-left {
    margin-right: 15px;
}

img.align-right {
    margin-left: 15px;
}

/* Main Navigation */
nav#block-key-changes-main-menu li a{
    color:white;
    font-family: 'Raleway', sans-serif;
    font-size: .9em;
    font-weight: 400;
    padding-right: 10px;
}

nav#block-key-changes-main-menu li a:hover {
    color: #D84B68;
}

.dropdown-menu {
    background-color: #262F3E;
}

.dropdown-item a {
    color: #fff;
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
}

.dropdown-item a:hover {
    color: #D84B68;
}

article.node--type-page {
    background-color: #262F3E;
    border-radius: 10px;
    padding: 20px 15px 5px;
    opacity: 0.9;
    filter: alpha(opacity=90);
}

article.node--type-page h2 {
    color: #D84B68;
    font-family: 'Raleway', sans-serif;
    font-size: 24px;
}

/* Picture Callout Page */

hr.featurette-divider {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee;
}

.row.callout, .row.simple-callout {
    background-color: #262F3E;
}

.row.simple-callout .col-md-7, .row.callout .col-md-7 {
    padding-top: 10px;
}

.callout h2 {
    color: #fff;
    font-family: inherit;
    font-size: 30px;
    font-weight: 800;
    margin-top: 20px;
    margin-bottom: 10px;
}

.callout p {
    font-family: 'Raleway', sans-serif;
    font-size: 21px;
    font-weight: 300;
    margin-bottom: 20px;
}

.callout a {
    color: #337ab7;
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    font-weight: 800;
    margin-top: 20px;
    margin-bottom: 10px;
    text-decoration: none;
}

.simple-callout blockquote p{
    font-family: 'Raleway', sans-serif;
    font-size: 21px;
    font-weight: 300;
    margin-bottom: 20px;
}

/* Picture callout - only reverse order of even rows on Desktop. */
@media only screen and (min-width: 768px) {
    .reverse-first {
        order: 1;
    }
    .reverse-last {
        order: 2;
    }
}

/* Remove offset on mobile for Basic Pages. */
@media only screen and (max-width: 768px) {
    .offset-2 {
        margin-left: 0px;
    }
}

.content-page-slogan {
    color: #FFF;
    font-family: 'Raleway', sans-serif;
    font-size: 77px;
    font-weight: 800;
    margin-bottom: 10px;
    margin-top: 20px;
    text-align: center;
}

.title {
    color: #D84B68;
    font-family: 'Raleway', sans-serif;
    font-size: 36px;
    font-weight: 800;
}

/* Home Page */

.front-page {
    color:white;
}

.front-page .headliner {
    margin-top: 150px;
}

.front-page h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 4.8em;
    font-weight: 800;
}

.front-page h2 {
    color: #D84B68;
    font-family: 'Raleway', sans-serif;
    font-size: 2.25em;
    font-weight: 800;
    margin-left: 90px;
}

.front-page .col-md-12 {
    text-align:center;
}
